body {
    background: url(../images/9.jpg) 0 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
}

.display-4{
    color: #f16161;
}

@font-face {
    font-family: 'MijhoFont';
    src: url('../font/gow.ttf');
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.video-container {
    position: relative;
    width: 100%; /* Full width of the parent */
    max-width: 1000px; /* Max width for large screens */
    height: 0; /* Set height to 0 to use padding-bottom for aspect ratio */
    padding-bottom: 56.25%; /* Aspect ratio of 16:9 (height/width ratio) */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    border: none;
}

.scrollbar {
    width: 100%; /* Full width of the parent */
    max-width: 1000px; /* Max width for large screens */
    height: 12px;
    background-color: #f1f1f1;
    position: relative;
    margin-top: 10px;
    border-radius: 5px;
}

.scrollbar::-webkit-slider-thumb {
    height: 12px;
    width: 12px;
    background: #007bff;
    border-radius: 50%;
}

.scrollbar::-moz-range-thumb {
    height: 12px;
    width: 12px;
    background: #007bff;
    border-radius: 50%;
}

.time-markers {
    margin-top: 10px;
    width: 100%; /* Full width of the parent */
    max-width: 1000px; /* Max width for large screens */
    display: flex;
    justify-content: space-between;
    padding: 0 10px; /* Add padding for visibility */
    font-weight: bold;
    box-sizing: border-box;
}

.time-markers .marker {
    font-size: 12px;
}


#toggle-theme {
    position: absolute;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 24px;
    color: rgb(213, 213, 29);
}

#toggle-theme.night {
    color: white;
}

.nav-current a {
    color: #F2F3F4;
}

.nav-current {
    background-color: #660000;
}

.godly-button {
    background-color: #660000;
    color: #F2F3F4;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'MijhoFont', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    outline: none;
    box-shadow: none;
}

.godly-button:hover {
    background-color: #440000;
    transform: scale(1.05);
    color: white;
}

.godly-button:active {
    background-color: #220000;
    transform: scale(1);
}

.progress {
    height: 30px;
    margin-bottom: 20px;
}

.progress-bar {
    background-color: #440000;
    color: white;
    font-weight: bold;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Base font size for smaller screens */
.display-4 {
    font-size: 2.5rem; /* Adjust as needed */
}

/* Larger screens */
@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem; /* Adjust as needed */
    }
    .lead-mijhotext{
        font-size: 18px;
        text-align: justify;
        padding: 0 100px 0 100px;
    }
    
}

@media (min-width: 992px) {
    .display-4 {
        font-size: 3.5rem; /* Adjust as needed */
    }
    
}

/* Extra-large screens */
@media (min-width: 1200px) {
    .display-4 {
        font-size: 3rem; /* Adjust as needed */
    }
}

/* Larger screens */
@media (max-width: 768px) {
    .display-4 {
        font-size: 2rem; /* Adjust as needed */
    }
    .lead-mijhotext{
        font-size: 16px;
        text-align: justify;
        padding: 0 60px 0 60px;
    }
    
}

@media (max-width: 990px) {
.navbar-brand{
    padding-right: 60px;
}
}

