body {
    background-image: url(./images/9.jpg);
    background-position: center right; /* Adjust as needed, e.g., 'right 10px' or 'right 20px' */
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensures the body takes the full height of the viewport */
}


@font-face {
    font-family: 'MijhoFont'; /*a name to be used later*/
    src: url('./font/gow.ttf'); /*URL to font*/
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}
.video-container {
    position: relative;
    pointer-events: none;
    width: 1000px; /* Match the width of the video frame */
    overflow: hidden;
}
.video-container iframe {
    width: 1000px;
    height: 560px; /* Adjust height as needed */
    pointer-events: none;
    justify-content: center;
}
/* Custom scrollbar */
.scrollbar {
    width: 1000px; /* Match the width of the video iframe */
    height: 12px; /* Height of the scrollbar */
    background-color: #f1f1f1;
    position: relative;
    margin-top: 10px;
    border-radius: 5px; /* Circular shape */
    
}
.scrollbar-handle {
    position: absolute;
    height: 12px; /* Height of the scrollbar handle */
    width: 12px; /* Width of the scrollbar handle */
    accent-color: #007bff;
    border-radius: 50%; /* Circular shape */
    transform: translateX(-50%);
    top: 0;
    left: 0;
}
.time-markers {
    margin-top: 10px;
    left: 0;
    width: 1000px; /* Match the width of the video iframe */
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    padding: 0 1px; /* Add padding to markers for better visibility */
    font-weight: bold;
}
.time-markers .marker {
    position: relative;
    font-size: 12px; /* Font size of time markers */
    
    pointer-events: none;
}
#toggle-theme {
    position: absolute;
    
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 24px;
    color: rgb(213, 213, 29);
}
#toggle-theme.night {
    color: white;
}
.nav-current a{
    color: #F2F3F4;
}
.nav-current{
    background-color: #660000;
}

.godly-button {
    background-color: #660000; /* Dark red background color */
    color: #F2F3F4; /* Light color for text */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding for the button */
    font-size: 18px; /* Font size */
    font-family: 'MijhoFont', sans-serif; /* Use your custom font */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
    outline: none;
    box-shadow: none;
}

.godly-button:hover {
    background-color: #440000; /* Darker red on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
    color: white;
    outline: none;
  box-shadow: none;
}

.godly-button:active {
    background-color: #220000; /* Even darker red on click */
    transform: scale(1); /* Return to original size on click */
    outline: none;
    box-shadow: none;
}

.progress {
    height: 30px; /* Height of the progress bar */
    margin-bottom: 20px; /* Margin below progress bar */
}

.progress-bar {
    background-color: #440000; /* Blue color for progress bar */
    color: white; /* Text color */
    font-weight: bold; /* Bold font */
}
